/*MODAL*/
.modalNewSpecifications {
  background-image: url("https://cdn.registerdisney.go.com/v4/asset/bundler/MARVEL/v4/images/v1/marvel-background-web.webp");
  padding-bottom: 5%;
}

.marvelImg2 {
  width: 10%;
  position: relative;
  left: 34em;
  top: 2em;
}

.btnModify {
  background-color: #e62429;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-right: 3em;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
  height: 3.5em;
  border: solid;
}

.btnSubmit {
  background-color: #e62429;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-right: 3em;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
  height: 3.5em;
  border: solid;
}

.form-group {
  margin-right: 3em;
  margin-left: 1em;
}

.btnModify:hover {
  background-color: #ca2020;
  color: #fff;
}

.btnSubmit:hover {
  background-color: #ca2020;
  color: #fff;
}

.changePasswordContainer {
  flex-direction: column;
  width: 100%;
  padding-right: 2em;
  padding-left: 1em;
}

.btnModify:active {
  background-color: #ca2020;
}

.modal-title {
  font-size: xx-large;
  margin-left: 0.3em;
  line-height: 1em;
}

.modal-title-description {
  font-size: 0.875rem;
  font-weight: 400;
  word-spacing: 0.1em;
  margin-left: 1em;
  margin-bottom: 2em;
  margin-right: 4em;
}

.p-modal-title-description {
  padding-top: 2em;
  margin-bottom: 0em;
}

.titleFooter {
  color: #0040e5;
  padding-top: 1rem;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  margin-top: -7px;
  padding-bottom: 4px;
  width: -webkit-fill-available;
  margin-left: 1em;
}

.titleFooter:hover {
  text-decoration: underline;
}

.descriptionFooter {
  font-size: 0.8em;
  margin-top: -7px;
  padding-bottom: 4px;
  padding-top: 1rem;
  line-height: 1.5em;
  margin-left: 1em;
  margin-right: 2em;
}

.moreDetails {
  color: #000;
  font-weight: 200;
}

.moreDetails:hover {
  color: #0040e5;
}

.spanMoreDetails {
  margin-top: 1em;
  line-height: 3em;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
  user-select: none;
}

.spanMoreDetails:hover {
  color: #0040e5;
}

.logInLogos {
  width: 100%;
  padding-right: 1.7em;
  margin-right: -0.4em;
}

.modal-dialog-centered {
  display: flex;
  margin-left: 29%;
  margin-right: 29%;
  background-color: #fff;
  border-radius: 0.5em;
  margin-top: 5%;
  padding-top: 2%;
}

.btn-close {
  background-color: white;
  border-radius: 10em;
  outline-color: #e62429;
  float: right;
  margin-right: 2em;
  margin-top: 2em;
  width: 1.5em;
  height: 1.5em;
}

.btn-back {
  border-radius: 10em;
  outline-color: #e62429;
  float: left;
  margin-left: 2em;
  margin-top: 2em;
  width: 1.5em;
  height: 1.5em;
}

.bi {
  fill: currentcolor;
  color: #bfc4cb;
  cursor: pointer;
  width: 2em;
  height: 1.8em;
}
.bi:hover {
  color: #fff;
}

.modal-content {
  padding: 2.5em;
}

.modal-header {
  margin-bottom: 1em;
}

.text-block {
  font-size: 0.875rem;
  font-weight: 400;
  word-spacing: 0.1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.reveal-btn {
  float: right;
  position: relative;
  bottom: 2em;
  right: 1em;
  width: 1.5em;
}
.reveal-btn2 {
  position: relative;
  bottom: 3.4em;
  right: -25.2em;
  width: 1.5em;
}

.error-container {
  height: auto;
  opacity: 1;
  outline-color: #e62429;
  font-size: 0.75rem;
  color: #d40909;
  text-align: justify;
  margin-bottom: 1.5em;
  font-weight: 500;
  margin-left: 0.5em;
  margin-right: 0.4em;
  padding-top: 0.1em;
}

.displayed {
  display: none;
  border-top: 2px solid rgb(212, 9, 9);
  width: 97%;
  top: -2em;
  position: relative;
}
